version: '3.8'

services:
  db:
  
    image: postgres:15-alpine
    container_name: academia_db
    
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    restart: always 

  web:
    build: . 
    container_name: academia_web
    command: sh -c "./entrypoint.sh" 
   
    volumes:
      - .:/app
   
    ports:
      - "8000:8000"
    
    env_file:
      - .env
    
    depends_on:
      - db 


volumes:
  postgres_data: